HTML CSSResult Skip Results Iframe
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ae7efe;
  --outdark: #573f7f;
  --white: #f9f9f9;
}

/* body {
  background: var(--outdark);
  font-family: "Advent Pro", sans-serif;
} */


.timeline {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--white);
  top: 0;
  bottom: 0;
  left: 50%;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 45%;
  text-align: left;
}

/* .container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: var(--white);
  border: solid 2px var(--primary);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
} */

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--white);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--white);
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--white);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--white) transparent transparent;
}

.right::after {
  left: -12px;
}

.content {
  padding: 20px 30px;
  background-color: var(--white);
  position: relative;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* .container::before {
    left: 60px;
    border: medium solid var(--white);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--white) transparent transparent;
  } */

  .left::after,
.right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}